header {
    text-align: center;
    font-family: cursive;
}
h1 {
    color: midnightblue;
}
h4,h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
}
.box{
    text-align: center;
}
#banner {
    float: left;
    position: absolute;
}

article {
    text-align: center;
}
#nav{
    font-size: 20px;
    text-align: center;
}
li {
    display: inline;
    padding: 5px;
}
figure {
    text-align: center;
}
p {
    text-align: center;
}
section#carousel > figure > img {
    display: none;
    margin: 0px auto;
}
section#carousel > figure.visible > img {
    display: block;
    position: relative;
    overflow: hidden;
}
section#carousel > figure > figcaption {
    display: none;
}
section#carousel > figure.visible > figcaption {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}