/*contact page stylesheet*/

header {
color: teal;
text-align: center;
}
h2 {
    font-family: monospace;
    font-size: 30px;
    color: black;
}
article {
    color: teal;
    position: relative;
    text-align: center;
    position: relative;
}
p {
    text-align: center;
}
#news {
    background-color: blanchedalmond;
}
#together {
    float: left;
    position: absolute;

}
#nav {
    text-align: center;
}
#letterpic {
    display: block;
}