body {
    color: rgb(68, 145, 23); 
}
header {
    color: #314052;
    margin: auto;
}
h1, h2 {
    color: #8C1018;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
header h1 {
    font-size: 4em;
    font-family: cursive;
    margin: auto;
 }
 header h2 {
     font-family: fantasy;
     margin: auto;
 }
 main figure > figcaption {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
p {
    color: navy;
}
h1, h2, h3 {
    text-align: center;
    margin: auto;
}
p {
    text-align: center;
}
#about {
    background-color: cadetblue;
    opacity: .6;
    padding: 2px;
    margin: 5px;
    float: center;
    position: relative;
    font-weight: bolder;
}
#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
#school{
    padding: 50px;
    margin-bottom: -5px;
}
#nav {
    font-size: 20pt;
    text-align: center;

}
li {
    display: inline; 
}
li a {
    color: white;
}
li a:hover {
    background-color: black;
}
ul {
    background-color: peru;
}
#welcome {
display: flex;
justify-content: center;
}
#books {
    float: left;
    margin-bottom: 25px;
    position: absolute;
}